*{
  box-sizing: border-box;
}

.pokemon{
  width: 100%;
  height: 120px;
  border-radius: 5px;
  border: none;
  margin: 5px auto;
  padding: 10px;
  /*background-color: #48D0B0;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  font-family: 'Open Sans', sans-serif;
  text-align: center;

  .responsiveMain{
    width: calc((100%/7)*2);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .img{
      width: 50%;
      height: auto;

      .image{
        height: 100px;
        width: auto;
      }

      .noImage{
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        font-weight: 600;
        color: #ffffff;
      }
    }

    .name{
      width: 50%;
      text-transform: capitalize;
      font-size: 20px;
      font-weight: bold;
      color: #ffffff;
    }
  }

  .responsive{
    width: calc((100%/7)*5);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    .labelResponsive{
      display: none;
    }

    .types, .heldItems, .abilities{
      width: calc(100% / 7);
      color: #ffffff;
      font-size: 15px;
      font-weight: normal;
      display: flex;
      flex-direction: column;


      .type, .item, .ability{
        margin: 0 auto;
      }
    }

    .height, .weight{
      width: calc(100% / 7);
      color: #ffffff;
      font-size: 15px;
      font-weight: normal;
    }
  }
}

.green, .greengreen{
  background-color: #48D0B0;
}

.red, .redred{
  background-color: #FB6C6C;
}

.blue, .blueblue{
  background-color: #76BDFE;
}

.purple, .purplepurple{
  background-color: #9983c8;
}

.gray, .graygray{
  background-color: #9A9A9A;
}

.brown, .brownbrown{
  background-color: #663F3F;
}

.default, .defaultdefault{
  background-color: #ceba83;
}

/*-------------------------------------GREEN------------------------------------------*/
.greenred{background-image: linear-gradient(to bottom, #48D0B0 50%, #FB6C6C 50%)}
.greenblue{background-image: linear-gradient(to bottom, #48D0B0 50%, #76BDFE 50%)}
.greenpurple{background-image: linear-gradient(to bottom, #48D0B0 50%, #9983c8 50%)}
.greengray{background-image: linear-gradient(to bottom, #48D0B0 50%, #9A9A9A 50%)}
.greenbrown{background-image: linear-gradient(to bottom, #48D0B0 50%, #663F3F 50%)}
.greendefault{background-image: linear-gradient(to bottom, #48D0B0 50%, #ceba83 50%)}
/*--------------------------------------RED-------------------------------------------*/
.redgreen{background-image: linear-gradient(to bottom, #FB6C6C 50%, #48D0B0 50%)}
.redblue{background-image: linear-gradient(to bottom, #FB6C6C 50%, #76BDFE 50%)}
.redpurple{background-image: linear-gradient(to bottom, #FB6C6C 50%, #9983c8 50%)}
.redgray{background-image: linear-gradient(to bottom, #FB6C6C 50%, #9A9A9A 50%)}
.redbrown{background-image: linear-gradient(to bottom, #FB6C6C 50%, #663F3F 50%)}
.reddefault{background-image: linear-gradient(to bottom, #FB6C6C 50%, #ceba83 50%)}
/*--------------------------------------BLUE------------------------------------------*/
.bluegreen{background-image: linear-gradient(to bottom, #76BDFE 50%, #48D0B0 50%)}
.bluered{background-image: linear-gradient(to bottom, #76BDFE 50%, #FB6C6C 50%)}
.bluepurple{background-image: linear-gradient(to bottom, #76BDFE 50%, #9983c8 50%)}
.bluegray{background-image: linear-gradient(to bottom, #76BDFE 50%, #9A9A9A 50%)}
.bluebrown{background-image: linear-gradient(to bottom, #76BDFE 50%, #663F3F 50%)}
.bluedefault{background-image: linear-gradient(to bottom, #76BDFE 50%, #ceba83 50%)}
/*--------------------------------------PURPLE----------------------------------------*/
.purplegreen{background-image: linear-gradient(to bottom, #9983c8 50%, #48D0B0 50%)}
.purplered{background-image: linear-gradient(to bottom, #9983c8 50%, #FB6C6C 50%)}
.purpleblue{background-image: linear-gradient(to bottom, #9983c8 50%, #76BDFE 50%)}
.purplegray{background-image: linear-gradient(to bottom, #9983c8 50%, #9A9A9A 50%)}
.purplebrown{background-image: linear-gradient(to bottom, #9983c8 50%, #663F3F 50%)}
.purpledefault{background-image: linear-gradient(to bottom, #9983c8 50%, #ceba83 50%)}
/*--------------------------------------GREY-------------------------------------------*/
.graygreen{background-image: linear-gradient(to bottom, #9A9A9A 50%, #48D0B0 50%)}
.grayred{background-image: linear-gradient(to bottom, #9A9A9A 50%, #FB6C6C 50%)}
.grayblue{background-image: linear-gradient(to bottom, #9A9A9A 50%, #76BDFE 50%)}
.graypurple{background-image: linear-gradient(to bottom, #9A9A9A 50%, #9983c8 50%)}
.graybrown{background-image: linear-gradient(to bottom, #9A9A9A 50%, #663F3F 50%)}
.graydefault{background-image: linear-gradient(to bottom, #9A9A9A 50%, #ceba83 50%)}
/*--------------------------------------BROWN------------------------------------------*/
.browngreen{background-image: linear-gradient(to bottom, #663F3F 50%, #48D0B0 50%)}
.brownred{background-image: linear-gradient(to bottom, #663F3F 50%, #FB6C6C 50%)}
.brownblue{background-image: linear-gradient(to bottom, #663F3F 50%, #76BDFE 50%)}
.brownpurple{background-image: linear-gradient(to bottom, #663F3F 50%, #9983c8 50%)}
.browngray{background-image: linear-gradient(to bottom, #663F3F 50%, #9A9A9A 50%)}
.browndefault{background-image: linear-gradient(to bottom, #663F3F 50%, #ceba83 50%)}
/*--------------------------------------DEFAULT----------------------------------------*/
.defaultgreen{background-image: linear-gradient(to bottom, #ceba83 50%, #48D0B0 50%)}
.defaulred{background-image: linear-gradient(to bottom, #ceba83 50%, #FB6C6C 50%)}
.defaulblue{background-image: linear-gradient(to bottom, #ceba83 50%, #76BDFE 50%)}
.defaulpurple{background-image: linear-gradient(to bottom, #ceba83 50%, #9983c8 50%)}
.defaulgray{background-image: linear-gradient(to bottom, #ceba83 50%, #9A9A9A 50%)}
.defaulbrown{background-image: linear-gradient(to bottom, #ceba83 50%, #663F3F 50%)}


@media only screen and (max-width: 950px) {
  .pokemon{
    height: 170px;

    .responsiveMain{
      flex-direction: column-reverse;

      .img{
        width: 100%;

        .noImage{
          font-size: 16px;
          font-weight: 400;
          color: #ffffff;
        }
      }

      .name{
        width: 100%;
        font-size: 15px;
        margin: 0 auto;
      }
    }

    .responsive{
      flex-direction: column;

      .types, .height, .weight, .heldItems, .abilities{
        width: 80%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        margin: 0 auto;
        font-size: 13px;
        font-weight: 800;
        align-items: center;

        .type, .dots,  .item, .ability{
          margin: 0 5px;
        }
      }

      .labelResponsive{
        font-size: 10px;
        display: flex;
        margin-right: 10px;
        font-weight: 400;
      }
    }
  }
}