* {
  box-sizing: border-box;
  &::before, &::after {
    box-sizing: border-box;
  }
}

.listOfFilters{
  position: absolute;
  width: 80%;
  height: auto;
  right: 0;
  top: 70px;
  padding: 10px;
  background-color: #ffffff;
  border-radius: 5px;
  box-shadow: 0 0 30px #353535;

  .filterName{
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: #656565;
    text-align: center;
  }

  .checkboxes{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .type{
      display: flex;
      flex-direction: column;
      width: 70px;
      font-family: 'Open Sans', sans-serif;
      font-size: 15px;
      color: #353535;
      margin: 5px 20px;
      align-items: center;

      .checkbox{
        position: relative;
        width: 20px;
        height: 20px;
        color: #363839;
        border: 1px solid #9A9A9A;
        border-radius: 4px;
        appearance: none;
        outline: 0;
        cursor: pointer;
        transition: background 300ms cubic-bezier(0.1, 0.1, 0.25, 1);

        &::before {
          position: absolute;
          content: '';
          display: block;
          top: 2px;
          left: 6px;
          width: 6px;
          height: 12px;
          border-style: solid;
          border-color: #ffffff;
          border-width: 0 2px 2px 0;
          transform: rotate(45deg);
          opacity: 0;
        }

        &:checked {
          color: #353535;
          border-color: #76BDFE;
          background: #76BDFE;

          &::before {
            opacity: 1;
          }

          ~ label::before {
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          }
        }
      }

      .typeName{
        margin: 0 0 20px 0;
        color: #656565;
        font-weight: 400;
        text-align: center;

        &::first-letter{
          text-transform: capitalize;
        }
      }
    }

    .wider{
      width: 140px;
      height: auto;
    }
  }

  .buttonsContainer{
    display: flex;
    flex-direction: row;
    margin: auto;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

    .buttonFilters{
      font-family: 'Open Sans', sans-serif;
      font-size: 20px;
      margin: 10px;
      color: #ffffff;
      width: 150px;
      height: 50px;
      align-items: center;
      justify-content: center;
      border-radius: 5px;
      box-shadow: none;
      outline: none;
      border: none;

    }

    .close{
      background-color: #9A9A9A;

      &:hover{
        cursor: pointer;
        background-color: #656565;
      }
    }

    .filter{
      background-color: #76BDFE;

      &:hover{
        cursor: pointer;
        background-color: #5f8dbd;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .listOfFilters{
    width: 100%;
    top: 50px;

    .filterName{
      font-size: 16px;
    }

    .checkboxes{
      justify-content: center;

      .type{
        width: 50px;
        margin: 5px 10px;

        .checkbox{
          width: 15px;
          height: 15px;

          &::before{
            top: 2px;
            left: 5px;
            width: 4px;
            height: 8px;
          }
        }

        .typeName{
          font-size: 13px;
        }
      }
    }

    .buttonsContainer{
      .buttonFilters{
        font-size: 16px;
      }
    }
  }
}